
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      align-items: center;
      background-color: transparent;
      font-size: 18px;
      text-align: center;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
    }

    .embed-doc-show-help{
        background: #2e73f1;
        border-radius: 23px;
        bottom: 2%;
        box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, .1);
        color:  white;
        cursor: help;
        font-size: 23px;
        height: 46px;
        line-height: 53px;
        position: fixed;
        right: 1%;
        text-align: center;
        width: 46px;
    }

    .tips-text {
        font-size: 20px;
        line-height: 35px;
        text-align: justify;
        padding-right: 10px;
    }

    .tpl {
        display: none;
    }

    .embed-doc-modal-content{
        background-color: #ffffff;
        border:none;
        box-shadow: none;
    }

    .embed-doc-modal-header{
        border: none;
    }

    .embed-doc-modal-footer {
        border:none;
        padding: 15px;
    }

    /*.embed-doc-modal .modal-backdrop {*/
        /*background-color: #ffffff;*/
        /*opacity:.4 !important;*/
    /*}*/

    .embed-doc-modal-dialog {
        width:90%;
    }

    .embed-doc-btn-prev{/* background: #233682 !important; */line-height: 33px;}

    .embed-doc-btn-next{/* background: #233682 !important; */line-height: 33px;}

    .tips-img {
        margin-left: 10px;
        width: 100%;
    }
